.page-container {
  background-image: linear-gradient(#fff1eb, #ace0f9);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-search-container {
  display: flex;
  align-items: center;
  padding: 6px;
  border: 1px solid #1e293b;
}
.search-input {
  width: 200px;
  background-color: transparent;
  outline: none;
  border: none;
}
.search-icon {
  width: 20px;
}
.heading {
  color: #1e293b;
  font-family: Bree Serif;
}
.tab-list-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 0px;
}
.app-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}
