.app-icon {
  width: 40%;
}
.app-item {
  width: 160px;
  height: 150px;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
